<p id="notice"><%= notice %></p>

<h3 class="mb-sm-5 mb-4 mb-md-0 mb-lg-5">All Reports</h3>

<div class="mb-md-3">
  <%= link_to "All", {report_type: 'all'}, :class => "#{active_class(params, 'report_type', 'all')}" %>
  <%= link_to "Pitcher", {report_type: 0}, :class => "#{active_class(params, 'report_type', '0')}" %>
  <%= link_to "Position", {report_type: 1}, :class => "#{active_class(params, 'report_type', '1')}" %>
</div>

<div class="mb-sm-5 mb-4 mb-md-3">
  <%= render "reports_table", scouting_reports: @scouting_reports %>
  <%= will_paginate @scouting_reports, {:class => "pagination-sm"} %>
</div>

<%= link_to 'New Scouting Report', new_scouting_report_path, :class => "btn btn-primary mb-sm-5 mb-4 mb-md-0 mb-lg-5" %>
