<ul class="mb-sm-5">
  <li>Height: <%= info["height"] %></li>
  <li>Weight: <%= info["weight"] %></li>
  <li>Bats: <%= info["bats"].capitalize %></li>
  <li>Throws: <%= info["throws"].capitalize %></li>
  <li>DOB: <%= info["dob"] %></li>
</ul>
